.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct > img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkout_Info{
    padding-left: 20px;
   
}
.checkout_Info > button{
    background-color: #cd9042;
    border: 1px solid;
    border-color: #cd9042 #cd9020 #cd9080;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    color: #111;
 }
 .checkoutProduct_title{
     font-size: 17px;
     font-weight: 800;
 }